<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>Hello_World</display-name>
  
  <servlet>
    <description></description>
    <display-name>First</display-name>
    <servlet-name>First</servlet-name>
    <servlet-class>First</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>First</servlet-name>
    <url-pattern>/first</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Full_Name</display-name>
    <servlet-name>Full_Name</servlet-name>
    <servlet-class>sagar.Full_Name</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Full_Name</servlet-name>
    <url-pattern>/full</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>details</display-name>
    <servlet-name>details</servlet-name>
    <servlet-class>sagar.sagar.details</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>details</servlet-name>
    <url-pattern>/fulll_details</url-pattern>
  </servlet-mapping>
</web-app>